.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0.5s;
}

.modal-active {
    visibility: visible;
    opacity: 1;
}

.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 99;
    color: white;
    width: 16rem;
    border: 1px solid white;
    padding: 2rem;
    background: $background-dark;
    p {
        padding-top: 1rem;
    }
    .button {
        margin-top: 1rem;
        width: 10rem;
        font-weight: bold;
    }
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: center;
    background: $background-dark;
    height: 100%;
    margin-top: 0rem;
    position: relative;
}

.main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
    border-radius: 5px;
    width: 45rem;

    form {
        display: flex;
        flex-direction: column;
    }

    .button-inverse {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        width: 100%;
    }

    h2 {
        padding-bottom: 1rem;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        padding: 0.5rem 0 0.5rem;
    }
}

.reservation-links {
    padding-top: 15px;
    padding-bottom: 10px;
}