.damsteep {
    background-color: $background-light;

    @include tablet {
        display: block;
    }

    .desktop-view {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .tablet-view {
        display: none;
    }

    .hometext {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }

    p {
        text-align: center;
        line-height: 30px;
    }

    .line {
        width: 400px;
        border-bottom: 1.8px solid rgb(22, 22, 22);

        @include mobile {
            width: 20rem;
        }
    }

    @include tablet {

        .desktop-view {
            display: none;
        }

        .tablet-view {
            display: block;

            .left {
                margin: 0;
            }

            .right {
                margin: 0;
            }

            h2 {
                margin-top: 5rem;
                font-size: 2rem;
            }

            p {
                width: 40rem;
                margin-bottom: 3rem;

                @include tablet-small {
                    width: 28rem;
                }

                @include mobile {
                    width: 20rem;
                }
            }
        }
    }

    .damsteep-image {
        border: 1px solid rgb(180, 180, 180);
        width: 35rem;

        @include tablet {
            margin: 0 0 3rem;
        }

        @include mobile {
            width: 20rem;
        }
    }
}