.homevineyard-image {
    position: relative;
    width: 35rem;
    @include tablet {
        width: 25rem;
    }
    @include mobile {
        width: 20rem;
    }
}

.netherwood-vineyard-image {
    position: relative;
    width: 35rem;
    @include tablet {
        width: 25rem;
    }
    @include mobile {
        width: 20rem;
    }
}

.homeandnetherwood {
    display: grid;
    grid-template-columns: 50% 50%;
    background: rgb(43, 43, 43);
    background: $background-dark;

    @include tablet {
        display: block;

        .left {
            margin: 0;
        }
        .right {
            margin: 0;
        }
        h2 {
            margin-top: 5rem;
            font-size: 2rem;
        }
        p {
            width: 40rem;
        }
        img {
            margin: 3rem 0 3rem;
            border: 1px solid rgb(180, 180, 180);
        }
    }

    @include tablet-small {
        p {
            width: 28rem;
        }
    }

    @include mobile {
        p {
            width: 20rem;
        }
    }

    p {
        text-align: center;
        color: white;
        line-height: 30px;
    }

    h2 {
        color: rgb(231, 231, 231);
    }

    .line {
        width: 24rem;
        border-bottom: 1.8px solid rgb(255, 255, 255);
        @include mobile {
            width: 20rem;
        }
    }
}