.kumiko {
    @include tablet {
        display: block;
    }
    h2 {
        color: white;
        @include tablet {
            margin-top: 3rem;
            font-size: 2rem;
        }
    }
    .line {
        width: 25rem;
        border-bottom: 1.8px solid rgb(255, 255, 255);
    }
    p {
        color: white;
    }

    .button-inverse {
        margin-top: 2rem;
    }

    @include tablet {
        .left {
            margin: 0;
        }
        .right {
            margin: 0;
        }
        img {
            margin: 2rem 0 3rem;
        }
        p {
            width: 40rem;
            @include tablet-small {
                width: 28rem;
            }
        }
    }
}
