.kumiko {
    h2 {
        color: white
    }
    .line {
        width: 25rem;
        border-bottom: 1.8px solid rgb(255, 255, 255);
    }
    p {
        color: white;
    }

    .button-inverse {
        margin-top: 2rem;
    }
}
