.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: $background-dark;
    height: 100%;
}

.collage {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: 11rem 0 0.3rem;
    padding: 15px;
    @include mobile {
        padding: 0px;
    }
    opacity: 30px;

    @include tablet {
        margin: 0 0 0.3rem;
        padding-top: 0.5rem;
    }

    img {
        margin: 0.5rem;
    }

}

.nav-buttons {
    display: none;

    @include tablet {
        display: flex;
        align-items: center;
        margin: 8rem 1rem 0 1rem;

        .button-inverse {
            margin: 0 1rem 1rem;
        }
    }

    @include tablet-small {
        display: grid;
        grid-template-columns: 10rem 10rem;
        justify-items: center;
    }
}

.wrapper {
    position: relative;
}

.winery-image {
    opacity: 1;
    display: block;
    width: 25rem;
    transition: .5s ease;
    backface-visibility: hidden;
}

@include tablet {
    .winery-image {
        width: 15rem;
    }
}

.middle {
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.wrapper:hover .winery-image {
    cursor: pointer;
    opacity: 0.3;
}

.wrapper:hover .middle {
    cursor: pointer;
    opacity: 1;
}

.image-text {
    color: white;
    font-size: 1rem;
    padding: 1rem 2rem; 
    width: 100%;
    height: 100%;
    padding-top: 8.5rem;
}

@include tablet {
    .image-text {
        padding-top: 4.5rem;
    }
}

.ourstory {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 20px 0px 75px;

    h1 {
        color: rgb(223, 223, 223);
        margin: 5px 0px 20px 0px;
    }

    @include tablet {
        h1 {
            font-size: 1.5rem;
            width: 20rem;
        }

        .line {
            width: 24rem !important;
        }
    }

    @include mobile {
        h1 {
            margin: 0 0 1rem;
        }
        .line {
            width: 20rem !important;
        }
    }

    p {
        padding-top: 30px;
        text-align: center;
        font-style: normal;
        color: rgb(238, 238, 238);
        margin: 0 1rem;

        @include tablet {
            width: 35rem;
        }

        @include tablet-small {
            width: 28rem;
        }

        @include mobile {
            width: 20rem;
        }
    }

    .line {
        width: 600px;
        height: 20px;
        border-bottom: 1.8px solid rgb(238, 238, 238);
    }
}