h1 {
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic;
}

h2 {
    text-align: center;
    font-family: 'Domine', serif;
    font-size: 2.5rem;
}

h4 {
    font-family: 'Domine', serif;
    font-weight: bold;
    font-size: 1.5rem;
}

h5 {
    font-family: 'Domine', serif;
    font-size: 1rem
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 15px;
    padding-top: 40px;
    margin-bottom: 0px;
}